<div class="jumbotron ">
  <h1 class="display-4 ">Book Paradise</h1>
</div>

<div class="container-fluid">

    <div class=  "row col-sm-12 d-flex justify-content-between">

    <!---row/column with books to devour--->
    <div class="row todevour col-sm-6">
        <div class="mt-2 col-sm-12 text-center"> <!-- ***** MOVED THIS FROM BELOW LINE 12 TO ABOVE LINE 12 ***** -->
            <h2 id="heading">Books to Devour</h2>
        </div> <!-- ***** END HEADING ROW ***** -->
        <div class="row col-sm-12"> <!-- ***** GIVING LIST IT'S OWN ROW ***** -->
            <ol>
                {{#each books}}
                    {{#unless devoured}}
                        {{>books-block}}
                    {{/unless}}
                {{/each}}
            </ol>
        </div>
    </div>

    <!---row with books that were devoured--->
    <div class="row devoured col-sm-6">   <!-- ***** CHANGED COL-SM TO 6 SINCE PARENT WAS 12 & HAVE 2 COL'S ***** -->
        <div class="mt-2 col-sm-12 text-center">  
            <h2 id="heading">Books Devoured </h2>
            <div class="content">
            <ol class="numbers">
                {{#each books}}
                    {{#if devoured}}
                         {{>books-block}}
                    {{/if}}
                {{/each}}
            </ol>
            </div>

        </div> 
    </div>

    </div>   <!---end o main row--->

<!-- ***** CHANGED COL TO 12 TO TAKE UP ENTIRE ROW ***** -->
<!-- ***** ALSO ADDED CENTERING CLASSES ***** -->
    <div class="row add col-sm-12 d-flex justify-content-center text-center"> 
        <h2 id="add">Add a Book</h2>
    </div> <!-- ***** ENDED HEADING ROW ***** -->
    <div class= "row col-sm-12 d-flex justify-content-center text-center"> <!-- *** GAVE THE FORM IT'S OWN ROW *** -->
        <form class="create-form" action="/" method="POST">
            <div class="row form-group">
                {{!-- <label for="book"> Book Title:</label> ***** REPLACED WITH PLACEHOLDER TEXT ***** --}}
                <!-- *** ADDED PLACEHOLDER AND CENTERING CLASS *** -->
                <input class=" userBook text-center" type= "text" id="title" name="name" placeholder="Enter Book Title"> 
            </div>
            
            <button class="addBook Mb-5" type="submit">Submit</button> <!-- ADDED MARGIN BOTTOM -->
        </form>
    </div>

</div>  {{!-- ***** END OF CONTAINER ***** --}}



