
.jumbotron{
    background-color:slategrey !important;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color:whitesmoke;
    letter-spacing:6px;
}
.container-fluid{
    width:90vw !important;
   
}

#heading{
    font-family: 'Abril Fatface', cursive;
    color:slategrey;
    width: 100%;
    text-align: center;
    margin-bottom:3vh;
    border-bottom:1px solid slategrey;
    padding-bottom:2vh;
    letter-spacing: 1px;
}
.title{
    font-size:1.5rem;
}


.todevour,
.devoured {
    width: 100%;
    
}

.content {
    display: flex;
    justify-content: center;
}


.todevour ol,
.devoured ol { 
    /* list-style: square; */
    font-family: 'Thasadith', sans-serif;
    color:slategrey;
    padding: 0;
    margin: 0 ;
    margin-left:2vw;
    width:100%;

    
}

.container {
    padding-bottom: 5vh;
}
.create-form{
    /* position:absolute; */
    /* left:40%; */
    /* top:80%; */
    /* padding:30px; */
    font-family: 'Thasadith', sans-serif;
    color:slategrey;
}

#add{
    margin-top:5%;
    margin-bottom: 2.5vh;
    /* text-align: center; */
   font-family: 'Abril Fatface', cursive;
    color:slategrey;
    letter-spacing: 1px;
}


button{
    background-color: slategrey ;
    color:white ;
    border-radius:5% !important;
    padding:1vh 1vw 1vh 1vw;
    font-size:16px !important;
    letter-spacing: 1px;
    
    
}
.delete-book,
.change-devour
{
    
    margin:0 1vw 0 1vw;
    /* max-height:24px;
    min-width: 45px; */
}
.change-devour{
    margin-left:16vw;
}
.userBook{
    width: 40vw;
    height:4vh;
    font-size: 1rem;
    letter-spacing: 2px;
    border:1px solid slategrey;
}